.configurator {
  padding-top: 80px;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #f4f4f4;
  border-radius: 5px;
  border-width: 2px;
  margin: 10px;
  padding: 10px;
}

.project:hover {
  box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.05);
  border-color: rgba(47, 181, 36, 0.41);
  border-width: 2px;
}

.project_name {
  flex: 1;
  height: 30px;
  font-size: 14px;
}

.project input {
  border-width: 1.7px;
  border-style: solid;
  border-color: #efefef;
  color: #3f3f3f;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}

.project input::placeholder {
  color: #c3c3c3;
}

.button_no_margin {
  margin: 10px;
}

.teams_module {
  display: flex;
  flex-wrap: wrap;
}

.team_element {
  font-weight: 500;
  display: flex;
  margin: 15px;
  padding: 10px;

  flex-direction: column;
  flex: 0 1 calc(33.3333333% - 30px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #2d2d2d;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.team_element:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.team_element input {
  height: 27px;
}

.team_element input {
  padding: 0;
  margin-left: 10px;
  padding-left: 10px;
}

.users_count {
  width: 35px!important;
  text-align: center!important;
  padding-left: 0!important;
}

.skill {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  margin: 2px 3px;

  color: #fff;
  background: #8440ed;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
}

.new_skill {
  width: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input_skill_wrapper {
  position: relative;
  display: inline-block;
}

.skill_suggestions {
  display: none;
  position: absolute;
  left: 10px;
  top: 35px;
  max-height: 100px;
  background-color: #fff;
  overflow-y: scroll;
  width: 120px;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1.5px solid #efefef;
}

.suggestion_skill_elem {
  cursor: pointer;
  padding: 5px;
}

.suggestion_skill_elem:hover {
  background: #efefef;
}

.divide {
  position: absolute;
  right: 45px;
}

.button_box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.remove_image {
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;

  opacity: .6;
  cursor: pointer;
}

.remove_image:hover {
  opacity: 1;
}

.remove_project {
  margin-left: 0;
  padding: 3px 5px 0;
  border: 2px rgba(255, 82, 48, .7) solid;
  background: #fff;
}

.remove_project:hover {
  margin-left: 0;
  border-color: rgba(255, 82, 48, 1);
  background: #fff;
}

.remove_project:hover .remove_image {
  opacity: 1;
}

.clone_image {
  display: none;
  position: absolute;
  right: 21px;
  top: 0;
  width: 16px;

  opacity: .6;
  cursor: pointer;
}

.clone_image:hover {
  opacity: 1;
}

.team_element:hover .clone_image {
  display: block;
}

.remove_image_target {
  display: none;
}

.team_element:hover .remove_image_target {
  display: block;
}
