* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  font-family: "Helvetica Neue", serif;
  font-size: 14px;
  height: 100%;
}

.header {
  position: absolute;
  padding: 20px 45px;

  color: #3f3f3f;

  font-size: 32px;
  font-family: "Helvetica Neue", serif;
  font-weight: 300;
}

.main {
  padding: 0 45px 0;

  height: 100%;
}

.button_decorated {
  height: 30px;
  padding: 3px 15px;
  font-size: 13px;
  background: #2db224;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;

  border-style: none;
}

.button_decorated:hover {
  background: #3b9627;
}

button {
  outline: none;
}

.card {
  padding: 10px;
  border-radius: 5px;
}
