/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

.App {
  /* font-family: "Helvetica Neue", serif; */
  font-size: 14px;
  height: 100%;
  background-color: #f8f8f8;
}

.header {
  position: absolute;
  padding: 20px 45px;

  color: #3f3f3f;

  font-size: 32px;
  /* font-family: "Helvetica Neue", serif; */
  font-weight: 300;
}

.main {
  padding: 0 45px 0;

  height: 100%;
}

.button_decorated {
  padding: 7px 20px;
  font-size: 16px;
  background: #2db224;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;

  border-style: none;
}

.button_transparent {
  border-style: solid;
  border-width: 2px;
  border-color: #2db224;
  color: #2db224;
  background: #fff;
}

.button_decorated:hover {
  background: #3b9627;
}

.button_transparent:hover {
  color: #fefefe;
  background: #2db224;
}


button {
  outline: none;
}

.card {
  padding: 10px;
  border-radius: 5px;
}
