.App {
  font-family: Consolas sans-serif;
}

.header {
  padding: 20px 45px;

  color: #3f3f3f;

  font-size: 32px;
  font-family: "Helvetica Neue";
  font-weight: 300;
}

.main {
  padding: 0 45px;
}
