* {
    transition: all 0.2s ease;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f8f8f8;
    
    --inno-green: #80bc00;
    --inno-purple: #60269e;
}

input,
button {
    border: 0;
    outline: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: unset;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 70%;
    max-width: 1080px;
    margin: auto;
    padding: 0 30px;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: unset;
}

#preload {
    background-color: white;
    background-image: url('img/preload.svg');
    background-position: center;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    z-index: 10;
}

.no-animations {
    transition: none;
}

/* LOGIN */

#login {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    transition: background 0.2s ease;
}

#login .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login input {
    min-width: 100px;
    width: 300px;
    padding: 10px 15px;
    font-size: 20px;
    border: 3px solid var(--inno-purple);
    border-radius: 50px;
    background-color: white;
    flex-shrink: 1;
    margin-right: 10px;
}

#login input:focus {
    padding: 15px 20px;
    box-shadow: 0px 0px 55px -10px rgba(96, 38, 158, 0.4);
    margin-right: 20px;
}

#login input:hover {
    box-shadow: 0px 0px 55px -10px rgba(96, 38, 158, 0.4);
}

#login button {
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 80%;

    background-color: var(--inno-purple);
    background-image: url("img/arrow.svg");
    background-size: 50%;

    flex-shrink: 0;
    opacity: 0.9;
}

#login button:hover {
    opacity: 1;
    background-position-x: 12px;
}

/* HEADER */

header {
    padding: 20px 0;
    background-color: white;
    border-bottom: 5px solid var(--inno-green);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    color: var(--inno-green);
    font-weight: 600;
    font-size: 40px;
    flex-shrink: 0;
}

#logout {
    font-family: inherit;
    font-size: 18px;
    color: var(--inno-purple);
    text-decoration: underline;
    font-weight: 400;
}

/* SECTION */

section {
    padding: 30px 0;
    padding-bottom: 80px;
}

section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

section #add-block {
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 5px dashed #d3d3d3;
}

section #add-block div {
    font-size: 80px;
    user-select: none;
    color: #d3d3d3;
}

section #add-block:hover,
section #add-block:hover > div {
    cursor: pointer;
    color: var(--inno-purple);
    border-color: var(--inno-purple);
}

section .block {
    min-width: 270px;
    background-color: white;
    flex-basis: 48%;
    margin-bottom: 30px;
    border-radius: 25px;
}

section .block:hover {
    box-shadow: 0px 0px 55px -10px rgba(96, 38, 158, 0.4);
}

section .block > *{
    padding: 10px 2vw;
}

section .block-title {
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
    color: #313131;
    text-align: center;
    word-wrap: break-word;
    border-bottom: 2px solid #f3f3f3;
}

section .block-title:focus-within {
    border-bottom: 5px solid #60269e93;
}

section .block-title input {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
    color: black;
}

section .block-title input::placeholder {
    color: #c0c0c0;
}

section .block-edit-panel {
    overflow: auto;
    overflow-x: hidden;
    max-height: 50vh;
    background-color: #f3f3f382;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

section .block-edit-panel.hidden {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
}

section .block-edit-panel .add-form-field-panel {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

section .block-edit-panel .add-form-field-cont.hidden {
    width: 0 !important;
}

section .block-edit-panel .add-form-field-panel button {
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 11px;
    border-radius: 50%;
    color: white;
    background-size: 60%;
    opacity: 0.6;
}

section .block-edit-panel .add-form-field {
    background-color: rgb(170, 170, 170);
    transform: rotate(45deg);
}

section .block-edit-panel .add-form-field.activated{
    transform: rotate(0deg);
}

section .block-edit-panel .add-form-field-cont {
    display: inline-flex;
    overflow: hidden;
    width: 110px;
    justify-content: flex-end;
}

section .block-edit-panel .add-form-field-cont button{
    background-color: #60269e80;
    margin-left: 5px;
}

section .block-edit-panel .add-form-field-panel button:hover,
section .block-edit-panel .add-form-field-panel button:focus {
    opacity: 1;
}

section .block-edit-panel .add-text-qn {
    background-image: url("img/text-field.svg");
}

section .block-edit-panel .add-rad-btn {
    background-image: url("img/radio-button.svg");
}

section .block-edit-panel .add-chk-box {
    background-image: url("img/check-box.svg");
}

section .block-edit-panel .form-field:not(:last-child) {
    margin-bottom: 12px;
}

section .block-edit-panel .question {
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #c3c3c3;
}

section .block-edit-panel .question:focus-within  {
    border-left: 3px solid var(--inno-purple);
    padding-left: 8px;
    background-image: linear-gradient(to right, #60269e10 , transparent);
}

section .block-edit-panel .question input {
    width: 100%;
    font-size: 20px;
    flex-grow: 1;
}

section .block-edit-panel .question input::placeholder {
    color: rgb(163, 163, 163);
}

section .block-edit-panel .answer-list {
    padding-left: 10px;
    margin: 0;
    list-style: none;
}

section .block-edit-panel .answer-list .list-item {
    margin-top: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

section .block-edit-panel .answer-list input[type="text"] {
    /* width: 91%; */
    font-size: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #c3c3c3;
    padding: 3px;
    flex-grow: 7;
}

section .block-edit-panel .answer-list input[type="radio"],
section .block-edit-panel .answer-list input[type="checkbox"] {
    margin-right: 8px;
    flex-grow: 1;
}

section .block-edit-panel .answer-list input::placeholder {
    color: rgb(196, 196, 196);
}

section .block-edit-panel .answer-list input[type="text"]:focus {
    border-left: 3px solid var(--inno-purple);
    padding-left: 8px;
    background-image: linear-gradient(to right, #60269e10 , transparent);
}

section .block-edit-panel .question,
section .block-edit-panel .answer-list li {
    display: flex;
}

section .block-edit-panel .remove-form-element,
section .block-edit-panel .answer-list .add-list-element {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    color: white;
    background-color: rgb(170, 170, 170);
    opacity: 0.6;
    margin: 8px 0 0 30px;
}

section .block-edit-panel .remove-form-element {
    color: white;
    background-color: rgb(255, 82, 82);
    background-size: 50%;
    margin: 0 0 0 8px;
    right: -60px;
    position: relative;
}

section .block-edit-panel .question:hover .remove-form-element,
section .block-edit-panel .answer-list li:hover .remove-form-element {
    right: 0;
}

section .block-edit-panel .remove-form-element:hover,
section .block-edit-panel .answer-list .add-list-element:hover,
section .block-edit-panel .answer-list .add-list-element:focus {
    opacity: 1;
}

section .block-tools {
    display: flex;
    justify-content: space-evenly;
}

section .block-tools button {
    padding: 10px;
    width: 50px;
    height: 50px;
    background-size: 60%;
    background-color: unset;
    border-radius: 100%;
}

section .block-tools button:hover,
section .block-tools button:focus {
    background-color: #f3f3f3;
}

section .block-tools .save {
    background-image: url(img/save-icon.svg);
}

section .block-tools .share {
    background-image: url(img/share-icon.svg);
}

section .block-tools .edit {
    background-image: url(img/edit-icon.svg);
}

section .block-tools .delete {
    background-image: url(img/delete-icon.svg);
}

section .block-tools .delete:hover,
section .block-tools .delete:focus {
    background-color: rgba(255, 92, 53, 0.1);
}

section .block-tools .download {
    background-image: url(img/forward.svg);
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    color: white;
    text-align: center;
    background-color: var(--inno-green);
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 1000px) {
    section .block {
        flex-basis: 100%;
    }

    .container {
        width: 85%;
    }
}