* {
    transition: all 0.2s ease;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f8f8f8;
    
    --inno-green: #80bc00;
    --inno-purple: #60269e;
}

input,
button {
    border: 0;
    outline: 0;
    padding: 0;
}

.container {
    width: 70%;
    max-width: 1080px;
    margin: auto;
    padding: 0 30px;
}

/* HEADER */

header {
    padding: 20px 0;
    background-color: white;
    border-bottom: 5px solid var(--inno-green);
}

header .title {
    width: 100%;
    color: var(--inno-green);
    font-weight: 600;
    font-size: 40px;
}

/* SECTION */

section {
    padding: 30px 0;
    padding-bottom: 80px;
}

section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

section #add-block {
    min-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 5px dashed #d3d3d3;
}

section #add-block div {
    font-size: 80px;
    user-select: none;
    color: #d3d3d3;
}

section #add-block:hover,
section #add-block:hover > div {
    cursor: pointer;
    color: var(--inno-purple);
    border-color: var(--inno-purple);
}

section .block {
    min-width: 280px;
    background-color: white;
    flex-basis: 48%;
    margin-bottom: 30px;
    border-radius: 25px;
}

section .block:hover {
    box-shadow: 0px 0px 55px -10px rgba(96, 38, 158, 0.4);
}

section .block > *{
    padding: 20px;
}

section .block-title {
    font-size: 25px;
    font-weight: 500;
    color: #313131;
    text-align: center;
    word-wrap: break-word;
    border-bottom: 2px solid #f3f3f3;
}

section .block-title input {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
}

section .block-title input::placeholder {
    color: #c0c0c0;
}

section .block-edit-panel {
    padding-bottom: 0;
    overflow: auto;
    max-height: 50vh;
}

section .block-edit-panel .form-field:not(:last-child) {
    margin-bottom: 20px;
}

section .block-edit-panel .question {
    padding: 5px;
}

section .block-edit-panel .question:focus-within  {
    border-bottom: #60269e93 solid 2px;
}

section .block-edit-panel .question input {
    width: 100%;
    font-size: 20px;
}

section .block-edit-panel .question input::placeholder {
    color: rgb(163, 163, 163);
}

section .block-edit-panel .answer-list {
    padding-top: 8px;
    padding: 8px 0 0 10px;
    margin: 0;
    list-style: none;
}

section .block-edit-panel .answer-list input[type="radio"],
section .block-edit-panel .answer-list input[type="checkbox"] {
    margin-right: 8px;
}

section .block-edit-panel .answer-list input::placeholder {
    color: rgb(196, 196, 196);
}

section .block-edit-panel .answer-list input[type="text"] {
    font-size: 15px;
}

section .block-tools {
    display: flex;
    justify-content: space-evenly;
}

section .block-tools button {
    padding: 10px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: unset;
    border-radius: 100%;
}

section .block-tools button:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

section .block-tools .save {
    background-image: url(img/save-icon.svg);
}

section .block-tools .share {
    background-image: url(img/share-icon.svg);
}

section .block-tools .edit {
    background-image: url(img/edit-icon.svg);
}

section .block-tools .delete {
    background-image: url(img/delete-icon.svg);
}

section .block-tools .delete:hover {
    background-color: rgba(255, 92, 53, 0.1);
}

section .block-tools .download {
    background-image: url(img/download-icon.svg);
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    color: white;
    text-align: center;
    background-color: var(--inno-green);
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}